@import 'common/setting';
@import 'common/format';

body{
  font: {
    size: 1.4rem;
  }
}
.container {
  width: 100%;
  max-width: 950px;
  margin: auto;
  min-height: 100vh;
  .head {
    width: 100%;
    // background: url(../images/bg1.jpg) center;
    background-size: cover;
    margin-bottom: 25px;
    // margin-top: 75px;
    padding: 35px 0;
    text-align: center;
  }
  .input-area {
    input[type=text],
    input[type=submit],
    input[type=reset],
    textarea {
      background: black;
      color: #fff;
      border: 1px ridge #fff;
    }
    input[type=submit],
    input[type=reset] {
      cursor: pointer;
    }
    .contents {
      width: 100%;
      max-width: 320px;
      margin: 0 auto;
    }
    input {
      width: 150px;
      margin: 0px 10px 10px 10px;
      padding: 3px 0px;
      border: 1px ridge #fff;
    }
  }
}

.title {
  display: block;
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: 1px;
  text-align: center;
}

.userName {
  margin-bottom: 10px;
  strong {
    background: #000;
    border: 1px solid #fff;
    padding: 5px;
  }
}

.postArea {
  margin-bottom: 10px;
}

// @media only #{$phone_style_min}{
//   body{
//     font: {
//       size: 1.6rem;
//     }
//   }
// }
